a {
  background-color: black;
  color: white;
  display: block;
  height: 40px;
  line-height: 40px;
  text-decoration: none;
  width: 100px;
  text-align: center;
}

body {
  background-color: yellow;
}
h2 {
  text-align: center;
}
